:root {
    --almostWhite: hsl(0, 0%, 98%);
    --mediumGray: hsl(0, 0%, 41%);
    --almostBlack: hsl(0, 0%, 8%);
    --mobile: 375px;
    --desktop: 1440px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Epilogue', sans-serif;
}

p {
    font-size: 18px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    margin: 20px 50px;
}

.nav {
    display: flex;
}

.nav .logo {
    margin-top: 12px;
    margin-right: 40px;
}

.nav button {
    background-color: transparent;
    border: none;
    color: var(--mediumGray);
    cursor: pointer;
    font-size: 13px;
    font-weight: 700;
    margin-left: 40px;
}

.nav button:hover {
    color: var(--almostBlack);
}

.authentication button {
    background-color: transparent;
    border: none;
    color: var(--mediumGray);
    cursor: pointer;
    font-size: 13px;
    line-height: 36px;
}

.authentication #register {
    border: 2px solid var(--mediumGray);
    border-radius: 12px;
    margin-left: 40px;
    padding: 0 24px;
}

.authentication button:hover {
    color: var(--almostBlack);
    border-color: var(--almostBlack);
}